body{
    background-color:#EEEEEE;
}
a {
    color: currentColor;
    text-decoration: none;
}

p {
    font-size: 13px;
}

a:hover .card-outmore {
    background: #2C3E50;
    color: #fff;
}

a:hover .thecard {
    box-shadow: 0 10px 50px rgba(0,0,0,.6);
}

.thecard {
    width: 330px;
    margin: 5% auto;
    box-shadow: 0 1px 30px rgba(0,0,0,.4);
    display: block;
    background-color: #fff;
    border-radius: 4px;
    transition: 400ms ease;
}

.card-img {
    height: 200px;
}

.card-img img {
    width:100%;
    border-radius: 4px 4px 0px 0px;
}

.card-caption {
    position: relative;
    background: #ffffff;
    padding: 15px 25px 5px 25px;
    border-radius: 0px 0px 4px 4px;
}

.card-outmore {
    padding: 10px 25px 10px 25px;
    border-radius: 0px 0px 4px 4px;
    border-top: 1px solid #e0e0e0;
    background: #efefef;
    color: #222;
    display: inline-table;
    width: 250px;
    transition: 400ms ease;
}
.card-outmore h5 {
    float: left;
}
.card-outmore i {
    float: right;
}

h1 {
    font-size: 22px;
}

h5 {
    margin:0;
    padding:10px;
}
.border {
    width:100%;
    text-align: center;
}
 div.border button {
        color: #054F3D;
        background: rgba(0, 0, 0, 0);
        border: solid 5px #5fb7b3;
        margin: 10px;
        padding: 10px;
        font-size: 12px;
        width:100px;
    }

  div.border button:hover,
    div.border button.hover {
        border-color: #55ccaf;
        color: #5fb7b3;
    }

    div.border button:active,
    div.border button.active {
        border-color: #5fb7b3;
        color: #5fb7b3;
        box-shadow: 0 1px 30px rgba(0, 0, 0, .4);
    }
.title-react{
    text-align: center;
}


